.list-invoice{

    width: 40%;
    border: solid;
    text-align: center;

    h1{
        margin: 7% 24%;
    }

    .button-list{
        padding: 5%;

        h2{
            border: solid black;
            padding: 10% 23%;
            text-align: center;
            cursor: pointer;
        }
    }
    
}